* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 1320px;
    margin: 0 auto;
    border: 1px solid orange;
}

a {
    text-decoration: none;
}

/*----------------
 banner starts 
 ------------------*/

.half {
    width: 50%;
}

.banner {
    width: 100%;
    height: 646px;
    margin-top: 50px;
    background-color: #161616;
    border-radius: 30px;
    padding: 0 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    color: #ffffff;
}

#banner-title {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

#banner-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner-button {
    padding: 16px 25px;
    background-color: #DD0000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.banner i {
    margin-left: 20px;
}

#banner-pic {
    height: 100%;
    width: 100%;
}


/*----------------
 banner complete 
 ------------------*/

.blog-buttons {
    height: 312px;
    width: 312px;
    background-color: #161616;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}

.blog-button {
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #ffffff;
}

.active {
    background-color: #DD0000;
    color: #ffffff;
}

.blogs {
    display: flex;
    margin-top: 130px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    width: 312px;
    border: 1px solid gray;
    border-radius: 10px;
    /* padding: 10px; */
    box-sizing: border-box;
}

.card-image {
    width: 100%;
}

.card-info {
    /* border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray; */
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-button {
    margin-top: 10px;
}

.card-para {
    margin-top: 10px;
}

.card-icon {
    margin-top: 10px;
}

.card i {
    margin-right: 20px;
}

/*----------------
 blog complete 
 ------------------*/




footer {
    width: 100%;
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    background-color: black;
    padding: 100px 0;
}

footer h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.foot-text {
    display: flex;
    color: #B9B9B9;
    width: 60%;
    margin: 50px auto;
    justify-content: space-around;
}

.foot-icons {
    display: flex;
    width: 20%;
    margin: 0 auto;
    justify-content: space-around;
}

.foot-icon {
    display: block;
    padding: 0 10px;
    background-color: #ffffff;
    color: #161616;
    font-size: 30px;
    border-radius: 50%;
}


/*----------------
 webpage-2-match-cards-css
 ------------------*/
.match-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}

.match-card {
    box-sizing: border-box;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;

}

.flags {
    display: flex;
}

.flag {
    margin: 0 5px;
}

.match-card-text {
    margin: 20px 0;
}